[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distro"]
	path = distro
	url = https://github.com/nealrichardson/distro
[submodule "httpcache"]
	path = httpcache
	url = https://github.com/nealrichardson/httpcache
[submodule "httptest"]
	path = httptest
	url = https://github.com/nealrichardson/httptest
[submodule "httptest2"]
	path = httptest2
	url = https://github.com/nealrichardson/httptest2
[submodule "pivotaltrackR"]
	path = pivotaltrackR
	url = https://github.com/nealrichardson/pivotaltrackr
[submodule "skeletor"]
	path = skeletor
	url = https://github.com/nealrichardson/skeletor
